body {
    display: grid;
    margin: 0;
    background-color: #f0f0f0;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    background-color: #4682b4; 
    padding: 30px 30px;
}

#abrir-filtro{
    position: absolute;
    cursor: pointer;
    top: 12vh;
    right: 2vh; 
    height: 50px; 
    width: 50px;
    background-color: #4682b4;
}

select{
    cursor: pointer;
}

#p-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

label {
    text-align: center;
}

select,
input[type="date"] {
    width: 100%;
}

p {
    margin: 0;
}
/*
#p-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); ;
    gap: 10px; 
    justify-items: stretch;
}*/

#sec-form input[type="submit"] {
    width: 100%;
}

#dialog-filtro{
    width: 40vw;
    height: 20vh;
    border-radius: 5px; 
}

button,
input{
    border: 0;
    cursor: pointer;
}

#header {
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
}

#header:hover {
    color: #cccccc;
}


#search {
    width: 50vw;
    height: 5vh;
    border-radius: 7px;
    padding-left: 10px;
}

#close-button{
    background-color: white;
    padding: 0;
    border-radius: 7px;
    cursor: pointer;
    position: absolute; 
    top: 0;
    right: 5px; 
    height: 20%; 
    width: 30px;
}

#submit{
    background-color: white;
    padding: 0;
    border-radius: 7px;
    cursor: pointer;
    position: absolute; 
    top: 0;
    right: 0; 
    height: 100%; 
    width: 40px;
}
/*
input[type="submit"] {
    cursor: pointer;
    position: absolute; 
    top: 0;
    right: 0; 
    height: 100%; 
    width: 40px;
}*/

#div-filtro{
    display: grid;
    
}

#abri-filtro{
    align-items:end;
}

#form-search{
    position: relative;
}

#button-filtro {
    width: 50vw;
    height: 5vh;
}

main {
    max-width: 100ch;/*OBRIGATORIO*/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center; 
    margin: 0 25vw;
    background-color: #f0f0f0;
}

div{/*pode mudar dps*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}/* DESCOBRIR ERRO  */

ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li {
    list-style-type: none;
    width: 100%;
}

img{
    width: 40px;
    height: 40px;
}

footer{
    background-color: #4682b4;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 25px;
}

#divSB{
    height: 70vh;
    display: flex;
    justify-content: center;
}

#pSB,
#pInicio{
    text-align: center;
}

#pInicio {
    text-decoration: none; 
    cursor: pointer;
}

#pInicio:hover {
    color: #5e5e5e;
    text-decoration: underline;
}
