body {
    display: grid;
    margin: 0;
    background-color: #f0f0f0;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    background-color: #4682b4;
    color: white;
    padding: 30px 30px;
}

#header{
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
}

#search {
    width: 50vw;
    height: 5vh;
    border-radius: 7px;
    padding-left: 10px;
}

#submit{
    background-color: white;
    padding: 0;
    border-radius: 7px;
}

input[type="submit"] {
    cursor: pointer;
    position: absolute; 
    top: 0;
    right: 0; 
    height: 100%; 
    width: 40px;
}

#div-filtro{
    display: grid;
    
}

#abri-filtro{
    align-items:end;
}

#form-search{
    position: relative;
}

#button-filtro {
    width: 50vw;
    height: 5vh;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 15vw;
    background-color: #f0f0f0;
  }
  