body {
    display: grid;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #4682b4;
    color: white;
    padding: 40px 40px;
}

#header{
    padding: 20px 20px;
}

#search {
    width: 60vw;
    height: 5vh;
    border-radius: 7px;
}

#submit{
    background-color: white;
    padding: 0;
    border-radius: 7px;
}

input[type="submit"] {
    cursor: pointer;
    position: absolute; 
    top: 0;
    right: 0; 
    height: 100%; 
    width: 40px;
}

form{
    position: relative;
}


main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px;
    background-color: yellow;
  }
  